{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Car list
    <a style="float: right" href="{% url 'taxi:car-create' %}">+
    </a>
  </h1>
  <form method="get" action="" class="form-inline"></form>
  {{ search_form|crispy }}
  {% if car_list %}
    <ul>
      {% for car in car_list %}
        <li>
          <a href="{{ car.get_absolute_url }}">{{ car.id }}</a>
          {{ car.model }} ({{ car.manufacturer.name }})
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no cars in taxi</p>
  {% endif %}
{% endblock %}
